<footer>
    <ul>
        <li>formation a distance</li>
        <li>ressources educationnelles</li>
        <li>examens</li>
    </ul>
    <ul>
        <li>Powered by NBC Education</li>
    </ul>
</footer>