<div class="header">
    <%= image_tag("welcome.jpeg", alt: "welcome", class: "image") %>
    <p>
        Bienvenu à l'éducation pour tous, où que vous soyez, 
        vous avez droit à un enseignement de qualité
    </p>
</div>